img {
    width: 300px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    background-color: #263a5c;
    color: white;
    padding: 4px;
    justify-content: space-evenly;
}

.header a {
    color: #abcdef;
}

.header .title {

    font-size: 36px;
    font-weight: bold;
}

.titlePanel {
    display: flex;
    background-color: #263a5c;
    color: white;
    justify-content: space-evenly;
}

.titlePanelContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.attentionGrab {
    font-size: 24px;
    padding-left: 16px;
}

.attentionDescription {
    width: 300px;
    padding: 16px;
}

button {
    background-color: #abcdef;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 16px;
}

.titlePanel img {
    padding: 16px
}

.contentPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #abcdef;
}

.contentHeader {
    font-size: 24px;
    font-weight: bold;
    padding: 24px;
}

.contentPanelContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content {
    width: 300px;
    padding: 16px;
    color: #263a5c;
}

.content img {
    border-radius: 16px;
}

.quotePanel {
    background-color: #263a5c;
    display: flex;
    flex-direction: column;
    font-style: italic;
    color: #abcdef;

}

.quote{
    font-size: 36px;
    font-weight: lighter;
    padding: 36px;
}

.quoter{
    align-self: flex-end;
    padding: 16px;
}

.callToActionPanel {
    background-color: #263a5c;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    align-items: center;
    color: white;
}

.callToActionContainer {
    display: flex;
    flex-direction: column;
}

.signupTitle {
    font-weight: bold;
}

.signupDescription {
    font-size: smaller;
}

.footer {
    display: flex;
    padding: 8px;
    font-size: x-small;
    justify-content: center;
    background-color: #abcdef;
    color:#263a5c;
}